.main__page_content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  min-width: 350px;
  border: 1px solid red;
}

.main__page_upper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__page_category_btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 15px 20px;
}

.main__page_category_options {
  width: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main__page_category_option {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #E1E4FA;
  padding: 15px 20px;
  gap: 10px;
}

.main__page_category_name {
  text-transform: capitalize;
  font-size: 16px;
  color: #011BEA;
  font-weight: 500;
}

.main__page_categories {
  width: 100%;
  background-color: var(--clr-white);
  border-radius: var(--border-radius15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__page_categories_title {
  color: var(--clr-darkblue);
  text-transform: capitalize;
  font-weight: 600;
  font-size: 16px;
}

.main__page_info {
  background-color: var(--clr-white);
  border-radius: var(--border-radius15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  gap: 20px;
}

.main__page_info_upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main__page_info_logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.boostify__logo_text {
  font-size: 20px;
  color: #323232;
  text-transform: capitalize;
  font-weight: 600;
}

.main__page_info_desc {
  text-align: center;
  font-size: 15px;
  max-width: 256px;
  color: #323232;
}

.main__page_lower {
  background-color: var(--clr-white);
  border-radius: var(--border-radius15);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.main__page_btn {
  border-radius: 60px;
}

.main__page_login,
.main__page_register {
  width: 100%;
  border-radius: 60px;
  padding: 14px 10px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
}

.main__page_login {
  background-color: var(--clr-blue);
  color: var(--clr-white);
}

.main__page_register {
  border: 1px solid var(--clr-blue);
  color: var(--clr-blue);
}